.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.ac~
depcomp
install-sh
missing
turand
turand.o
stamp-h1
urand.o
